.book-info {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 clamp(50px, 4.1vw, 76px);

  & h2 {
    font-size: 35px;
    color: #4D4D4D;
  }

  & h3 {
    font-size: 15px;
    margin-top: 17px;
    color: #4D4D4D;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    gap: 15px;
  }

  &__format-status {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;

    & h4 {
      font-weight: bold;
      margin-bottom: 11px;
    }
  }

  &__status {
    & img {
      display: inline-block;
      margin-right: 4px;
    }
  }

  &__additionally {
    grid-column: 1/3;
    display: flex;
    gap: 15px;

    &>div {
      flex-grow: 1;
      background-color: #fff;
      border: 1px solid #DDDDDD;
      border-radius: 5px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & h5{
        font-weight: 600;
        color: #666666;
      }
      & p{
        font-weight: 600;
        color: #F27851;
        margin-top: 6px;
      }
    }
  }
}