.star {
  display: flex;
  gap: 11px;
  h4{
    font-size: 14px;
    font-weight: 500;
    & span{
      margin-right: 8px;
    }
  }
  &__wrap {
    display: flex;
    gap: 2.64px;
  }

  &__item {}
}